/.recommenders
/.metadata
/RemoteSystemsTempFiles
/parent/target
/parent/logs
/core/target
/core/logs
/rbtree/target
/rbtree/logs
/taskexecutor/target
/taskexecutor/logs
/target
/actionImplentor/target
/actionImplentor/logs
/taskanalyzor/target
/taskanalyzor/logs
/orderDetailGenegrator/target
/orderDetailGenegrator/logs
/voiceDetector/target
/voiceDetector/logs
/application/target
/application/logs
/desktopApp/target
/desktopApp/logs
/socketOrderReciver/target
/socketOrderReciver/logs
